<!DOCTYPE html>
<html>
  <head>
    <title>买好车，全球好车随你挑！</title>
  </head>
  <body>
    $control.setTemplate("components/header/header.vm")
    $screen_placeholder
    $control.setTemplate("components/footer/footer.vm")
  </body>
</html>
